{% extends 'base.html' %} {% load static %} {% block content %}
<div class="main-section min-height pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Billing Address</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">


                                    <div id="menu-item-list-6272" class="menu-itam-list">


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Your order section -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div>
                                        <ul>
                                            <li style="list-style-type: none;">
                                                Subtotal
                                                <span class="price float-right">
                                                    <span class="currency">€</span>
                                                <span id="subtotal">{{ subtotal }}</span>
                                                </span>
                                            </li>

                                            {% for key, value in tax_dict.items %} {% for i, j in value.items %}
                                            <li style="list-style-type: none;">
                                                {{ key }} <small>({{ i }}%)</small>
                                                <span class="price float-right">
                                                            <span class="currency">€</span>
                                                <span id="tax-{{ key }}">{{ j }}</span>
                                                </span>
                                            </li>
                                            {% endfor %} {% endfor %}

                                            <li style="list-style-type: none; font-weight:600">
                                                TOTAL
                                                <span class="price float-right">
                                                    <span class="currency">€</span>
                                                <span id="total">{{ grand_total }}</span>
                                                </span>
                                            </li>
                                            <a href="{% url 'checkout' %}" class="btn btn-danger w-100 p-2 mt-3">PROCEED TO CHECKOUT</a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}