
{% load static %}

{% block content %}
<!-- Hero images -->
<section id="403">
    <div class="container-fluid h-100">
        <div class="col-12 text-center ">
            <h2 class="mt-5 mb-5">Forbidden</h2>
        </div
        <div class="row text-center d-flex align-items-center">
            <div class="col-12 mt-2">
                <h4>
                    <p class="pt-3"><p> You are not authorised to view this page!</p></p>
                    <a href="{% url 'home' %}">Back to Store!</a>
                </h4>
            </div>
        </div>
    </div>
</section>
{% endblock %}