@keyframes show-toast {
    0% {
        bottom: -100%
    }
    20% {
        bottom: 100px
    }
    80% {
        bottom: 100px
    }
    100% {
        bottom: -100%
    }
}

.show-notification {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 8s;
    z-index: 99;
}

.btn {
    padding: 2px 1.75em;
    font-size: 12px;
    cursor: pointer;
}

.main-search.fancy .field-holder input[type="text"] {
    color: #000 !important;
}

.color-green-light {
    background: #009a4454 !important;
}

.color-green {
    background: #009A44 !important;
}

.color-orange {
    background: #ff820061 !important;
}

.main-search.fancy.bg-holder {
    background: #191818 !important;
}

.main-header .login-option a.get-start-btn {
    background: #FF8200 !important;
}

.btn-outline-danger {
    color: #FF8200;
    border-color: #FF8200;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #FF8200;
    border-color: #FF8200;
}

.footer-widget .widget-newsletter .fieldset form .field-holder.btn-holder input[type="submit"] {
    border: #009A44 !important;
    background: #009A44 !important;
}

.copy-right p a {
    color: #009A44 !important;
}